@model dynamic

@{
    ViewBag.Title = "title";
}

<input id="msg" type="text"/>
<input id="send" type="button" value="Send"/>
<input id="echo" type="button" value="Echo"/>

<ul id="messages"></ul>

@section scripts {
    <script src="~/Scripts/jquery.signalR-1.0.0.js"></script>
    <script>
        $(function() {
            var connection = $.connection("/chat");

            connection.received(function(msg) {
                $("#messages").append("<li>" + msg + "</li>");
            });

            connection.start().done(function() {
                $("#send").on("click", function() {
                    var msg = $("#msg").val();
                    connection.send(msg);
                });
                $("#echo").on("click", function () {
                    var msg = $("#msg").val();
                    connection.send("echo:" +msg);
                });
            });
        })
    </script>
}