@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Demo</h2>

<ul>
    <li><a href="@Url.Action("Chat")">Chat</a></li>
    <li><a href="@Url.Action("ChatWithHub")">Chat with hub</a></li>
    <li><a href="@Url.Action("MoveShape")">MoveShape</a></li>
    <li><a href="@Url.Action("Worker")">Worker</a></li>
</ul>