@model dynamic

<h2>Demo</h2>

<ul>
    <li><a href="@Url.Action(MVC.Home.ActionNames.Chat)">Chat</a></li>
    <li><a href="@Url.Action(MVC.Home.ActionNames.ChatHub)">Chat with hub</a></li>
    <li><a href="@Url.Action(MVC.Home.ActionNames.MoveShape)">MoveShape</a></li>
    <li><a href="@Url.Action(MVC.Home.ActionNames.Worker)">Worker</a></li>
</ul>